@model List<Application.ViewModels.ProducerViewModels.ProducerViewModel>

@{
    ViewData["Title"] = "Producers";
}

<div class="container">
    <div class="d-grid mb-3">
        <a asp-controller="Producer" asp-action="Create" class="btn btn-primary">Add a producer</a>
    </div>

    <div class="row">
        @foreach (Application.ViewModels.ProducerViewModels.ProducerViewModel item in Model)
        {

        <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
                <div class="card" style="width: 100%;">
                    <a asp-controller="Site" asp-action="Home" asp-route-producerId="@item.Id">
                        <div class="image-button">
                            <img src="@item.ImageLink" class="card-img-top default-image" alt="@item.Name">
                            <div class="search-icon"></div>
                        </div>
                    </a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h4 class="card-text">@item.Name</h4>
                            <p>@item.Description</p>
                        </div>
                        <div>
                            <div class="btn-group float-end">
                                <a asp-controller="Producer" asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">Edit</a>
                                <a asp-controller="Producer" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>